<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2"><%- include('../../partials/flash_messages') %> </h2>

    <div style="border: 1px solid gray; padding: 10px; margin-bottom: 10px; width: 300px;">
        <h2 style="text-align: center; margin-bottom: 5px;">
           Title:  <%= post.title %>
        </h2>
        <p>
            Category:  <%= post.category %>
        </p> <span>
           Author:   <%=post.author.username %>
        </span>
        <p style="padding: 10px 0px;"><%- post.description %></p>
        <hr>
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <a href="/posts/all" style="text-decoration: none;">Back</a>
            <a href="/posts/edit/<%= post.slug %>" style="text-decoration: none;">Edit</a>
            <form action="/posts/delete/<%=post.id %>?_method=delete" method="post">
                <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">Delete</button>
            </form>
        
        </div>
    </div>
    
</body>
</html>